name: Deploy to OCI VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy on self-hosted runner
        run: |
          cd /opt/aldiapp/app
          git fetch origin
          git reset --hard origin/main
          sudo systemctl restart aldiapp



